@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1574825661329'); /* IE9 */
  src: url('iconfont.eot?t=1574825661329#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALYAAsAAAAABtQAAAKKAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBOIEsATYCJAMMCwgABCAFhG0HOxv3BcgekiQlAgkUTw2VEABE8fC13+/c3f2OeJJkksj4dJJJIjGdRCdBaoRkJXvzTH737qfXMcpdNZAcsgJSxUuafs7PmC3pOaDnf4XrJuQm55Y4T7c+z+X0VkCBzI9RTnNMPboXYBxQQHtjFFmBJOgtsou4ExfxmEDbuCDf1vjsAlQp0KpAXAiegqpCUlGMSlOoNxws4lZNM12nL+Am+n78iUcVSS1DG7fPx7Iw+Fn3t5UPq0NHnJAiyMdryFgACnHSWNxTKgx+qbaxrLuxrghprkxVESl9fR3/4ZEEUYfau8CMUkp81lFlZhqV1XddznB30iwBK7yhSSEGRnfur9uyjE17Omyn55sAfzhyVc5LjS97e2hv6+R0d/N61NEznC6it40meLiBb8dHo0bZxDeE7qvV1QJeYlH0rawW/ZtYWFXCnv+i0ooXfg/OyEvzUzIBqo/8mLt+52/cdXmisfe/WVvAc1njfRSvPgrAWkFTAqz6eSogp/ga5MrFVVJlGM5GAf6ELDcjKig64He8dfgGq6FpeES0Yexmw00TGVl4C6jpWEZd0yra5k0c7xgklYrSwpwzCaHPJ5Iej8j6fJOF94OaEf+o64tStO1E64UdUyFqRiSlFGUxvYUiY5mMeFRN3DlHfE1PybwmEiyRdEUGY+FouTJBJsk5trjrPK4UQyYtA8el50jXLbSllaeMCueUsrsjEdb0pnDGMqDGJomkKCQLpW1BQobFxPhwpaby+TmEW6NLkR2snuwSIrnE+CgmLAogJ4wmiHUvr7jWcXGKwiBGshjQuOQnOi5akN08L49kKGG5EXlbt4gyiEGN4fXNxvcdgTa0JUeKHEXzUqRMzvwVzpoesAAAAAA=') format('woff2'),
  url('iconfont.woff?t=1574825661329') format('woff'),
  url('iconfont.ttf?t=1574825661329') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1574825661329#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangxia:before {
  content: "\e644";
}

.icon-quxiao:before {
  content: "\e60c";
}

